$bp : (
  mobile : 480px,
  tablet : 768px,
  desktop : 1440px,
);
 
@mixin query($display){
  @each $key, $value in $bp {
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}


.homeItems {
    padding: 20px 20px;
    display: block;
    width: 100%;
    @include query (tablet){
        padding: 20px 0px;
      }
}

.homeHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 20px;

    .homeHeaderTitle {
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 5px;
    }
    .homeHeaderSetting {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.homeSettingModal {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    background-color: var(--White-background);
    border: 3px solid;
    border-radius: 10px;
    .homeSettingModalLogout, .homeSettingModalClose{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
        color: var(--Gray-text);
        &:hover {
            color: var(--Black-text);
          }
    }
    .homeSettingModalClose {
        border-top: 1px solid rgba(0,0,0,0.1);
    }
}

.abcRioButton {
    margin: 20px;
    .abcRioButtonContentWrapper {
        border: 3px solid var(--Black-text);
        color: var(--Black-text);
    }
}

.homeMemo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 30px 0;

    @include query (tablet){
        flex-direction: column;
      }
}

.homeMemoBoxEdit {
    flex: 4;
    padding: 10px;
    .cm-spell-error {
        background: none!important;
    }
    .EasyMDEContainer {
        .CodeMirror{
            background-color: var(--White-background);
        }
        .editor-toolbar {
            button {
                color: var(--Gray-text)
            }
        }
    }
    

}


.homeMemoBoxView {
    flex: 6;
    padding: 10px;
    h1 {
        font-size: 20px;
        font-weight: 700;
        padding: 10px 0;
    }

    h2 {
        font-size: 18px;
        font-weight: 500;
        padding: 10px 0;
    }

    h3 {
        font-size: 15px;
        font-weight: 500;
        padding: 3px 0;
    }

    ul {
        padding: 20px 0;
    }

    ul li {
        border-left: solid 6px var(--Black-text);
        background-color: var(--White-background);
        margin-bottom: 3px;
        line-height: 1.5;
        padding: 10px;
        list-style-type: none!important;
      }
    ol li {
        list-style-type: decimal-leading-zero;
        background: var(--Gray-background);
        margin-bottom: 3px;
        margin-left: 25px;
        line-height: 1.5;
        padding: 10px;
    }
    code {
        display: block;
        padding: 20px;
        margin: 15px 0;
        color: var(--Black-text);
        background-color: var(--White-background);
        border-radius: 10px;
        box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    }
}