$bp : (
  mobile : 480px,
  tablet : 768px,
  desktop : 1440px,
);
 
//Defining our Conditional Media query Mixins.
//To save Time & Coffee.
 
@mixin query($display){
  @each $key, $value in $bp{
 
    //  defining max-width
    @if ($display == $key){
      @media (max-width: $value){@content;}
    }
  }
}


.homeItems {
    padding: 20px 20px;
    display: block;
    width: 100%;
}


.homeMemo {
    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 30px 0;
    background-color: var(--White-background);
    //border: 3px solid;

    @include query (tablet){
        flex-direction: column;
      }
}

.homeMemoBoxEdit {
    flex: 4;
    padding: 10px;
    .cm-spell-error {
        background: none!important;
    }

}
.homeMemoBoxView {
    flex: 6;
    padding: 10px;
}

.homeMemoBoxView {
    h1 {
        font-size: 20px;
        font-weight: 700;
        padding: 10px 0;
    }

    h2 {
        font-size: 18px;
        font-weight: 500;
        padding: 10px 0;
    }

    h3 {
        font-size: 15px;
        font-weight: 500;
        padding: 3px 0;
    }

    ul {
        padding: 20px 0;
    }

    ul li {
        border-left: solid 6px var(--Black-text);
        background: var(--Gray-background);
        margin-bottom: 3px;
        line-height: 1.5;
        padding: 10px;
        list-style-type: none!important;
      }
    ol li {
        list-style-type: decimal-leading-zero;
        background: var(--Gray-background);
        margin-bottom: 3px;
        margin-left: 25px;
        line-height: 1.5;
        padding: 10px;
    }
    code {
        display: block;
        padding: 20px;
        margin: 15px 0;
        color: var(--Black-text);
        background-color: var(--Gray-background);
    }
}


